{% extends 'base/admin.html' %}
{% block active2 %}
    activo
{% endblock %}
{% block body %}
    <style>
        #plus-shopping {
            margin-top: -20px;
            font-size: 18px;
            border-radius: 50%;
            background-color: rgb(33, 150, 243, 0.7);
            color: white;
        }

        #plus-shopping:hover {
            text-decoration: none;
            color: white;
            background-color: rgb(33, 150, 243);
        }

        #search .form-control {
            color: white;
        }

        #search .form-control::-ms-expand {
            background-color: transparent;
            border: 0
        }

        #search .custom-file-control:focus, .form-control:focus {
            color: white;
            background-color: transparent;
            border-color: white;
            outline: 0;
            box-shadow: none, 0 0 0 .2rem rgba(255, 255, 255, 255)
        }

        #search .custom-file-control::placeholder, .form-control::placeholder {
            color: rgb(170, 170, 170);
            opacity: 1
        }

        #search .custom-file-control:disabled, .form-control:disabled, .form-control[readonly], [readonly].custom-file-control {
            background-color: #e9ecef;
            opacity: 1
        }
    </style>
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple2 rounded box-shadow">
        <div class="1h-100">
            <h6 class="mb-0 text-white 1h-100">Productos</h6>
            <small>Activos</small>
        </div>
        <div class="col ">
            <div class="form-group col-md-8 mx-auto">
                        <form class="form-inline my-2 my-lg-0" id="search" method="get">
                            <input class="form-control mr-sm-2 col-md-12 " type="search"
                                   placeholder="Ingrese el nombre o código del articulo" aria-label="Search"
                                   name="search">

                        </form>
            </div>
        </div>
        <a id="aa" class="btn mx-auto" onclick="return abrir_modal('{% url 'articulo:crearArticulo' %}')"
           title="agregar producto">+</a>
    </div>
    <div class="my-3 p-3 bg-white rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0">Articulo</h6>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags  == 'warning' %}
                    <input id="msj" type="hidden" value="1">
                    <input id="contenido" type="hidden" value="{{ message }}">
                {% endif %}
                {% if message.tags == 'success' %}
                    <input id="msj" type="hidden" value="0">
                    <input id="contenido" type="hidden" value="{{ message }}">
                {% endif %}

            {% endfor %}
        {% endif %}

        {% if articulo %}
            {% for foo in articulo %}
                <div class="media text-muted pt-3 bg-hover">
                    <i class="icono icon-share"></i>
                    <div class="media-body pb-3 mb-0 small 1h-125 border-bottom border-gray">
                        <div class="d-flex justify-content-between align-items-center w-100">
                            <div class="1h-100">
                                <h6 class="larger">{{ foo.nombre_articulo }}</h6>
                                <h6 class="smaller">
                                    <small>cod:</small>
                                    {{ foo.codigo_articulo }}
                                </h6>
                            </div>
                            <p>Precio: <strong>${{ foo.precio_unidad }}</strong></p>
                            {% if foo.cant > 0 %}
                                <p>Stock: <strong>{{ foo.cant }}</strong></p>
                            {% else %}
                                <p>Stock: <strong>{{ foo.stock }}</strong></p>
                            {% endif %}
                            <p>
                                <a title="Detalle Articulo"
                                   onclick="return abrir_modal('{% url 'articulo:articuloDetalle' foo.pk %}')"><i
                                        class="btn btn-primary2 aling-right icon-eye shopping"><span
                                        style="font-size: 20px"></span></i></a>
                                <a title="vender" onclick="return abrir_modal('{% url 'ventas:addCar' foo.pk %}')"><i
                                        class="btn btn-purple aling-right icon-basket shopping"><span
                                        style="font-size: 20px">+</span></i></a>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h6>No hay registros hechos</h6>
        {% endif %}
    </div>


{% endblock %}
