{% extends 'base/admin.html' %}
{% load staticfiles %}


{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-green" id="nav22" style="margin: 0; padding: 0;">
        <a class="navbar-brand mx-2" href="#">Libreria CANAAN</a>
        <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto mx-auto">
                <li class="nav-item {% block active1 %}act {% endblock %}">
                    <a class="nav-link2" href="{% url 'articulo:index' %}"
                    >Inicio</a
                    >
                </li>
                <li class="nav-item {% block active2 %} {% endblock %}">
                    <a class="nav-link2" href="{% url 'articulo:articulo' %}"
                    >Articulos</a
                    >
                </li>
                <li class="nav-item {% block active3 %} {% endblock %}">
                    <a class="nav-link2" href="{% url 'ventas:shop' %}">Ventas</a>
                </li>
                <li class="nav-item {% block active5 %} {% endblock %}">
                    <a class="nav-link2" href="{% url 'ventas:reporte' %}">Reportes</a>
                </li>
                <li class="nav-item {% block active4 %} {% endblock %}">
                    <a class="nav-link2" onclick="return abrir_modal('{% url 'articulo:inventario' %}')">Inventario</a>
                </li>

            </ul>
        </div>
    </nav>
    <div class="btn-group" id="user">
        <a class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
            <img class="img-profile rounded-circle" width="35" src="{% static 'media/hombre.png' %}">
        </a>
        <div class="dropdown-menu dropdown-menu-right" style="width: 20rem;">
            <h6 class="dropdown-header">
                Administración de usuario
            </h6>
            <a class="dropdown-item d-flex mx-0" style="min-width: 100%"
               {% if correcto == '1' %} href=" {% url 'articulo:inventario' %} {% else %} onclick="return abrir_modal('{% url 'articulo:inventario' %}')" {% endif %}">
                <div class="mr-3">
                    <div class="icono">
                        <i class="fas fa-book"></i>
                    </div>
                </div>
                <div>
                    <div class=" small text-gray-500">Registro de ventas</div>
                    <span class="font-weight-bold">Restablezca sus ventas</span>
                </div>
            </a>
            <a class="dropdown-item d-flex mx-0" style="min-width: 100%"
               href="{% url 'articulo:generador' %}">
                <div class="mr-3">
                    <div class="icono">
                        <i class="fas fa-barcode"></i>
                    </div>
                </div>
                <div>
                    <div class=" small text-gray-500">Código de Barras</div>
                    <span class="font-weight-bold">Crear su código de barras</span>
                </div>
            </a>
            <a style="min-width: 100%" class="dropdown-item  mx-0" href="{% url 'logout' %}">
                <div class="mr-3 ">
                    <div class="icono">
                        <i class="fas fa-sign-out-alt"></i>
                    </div>
                </div>
                <div>
                    <div class="small text-gray-500">Salir</div>
                    Cerrar su sesión
                </div>
            </a>

            <a style="min-width: 100%" class="dropdown-item  mx-auto small text-gray-500" href="#"><span
                    style="text-align: center">¡Conozca quién hizo el sistema!</span></a>

        </div>
    </div>
{% endblock %}
{% block car %}
{% endblock %}
{% block body %}
    <style>
        body {

            background-image: url("../../static/media/img02.png");
            background-attachment: fixed;
            background-size: cover;
            background-repeat: repeat-y;
        }

        #buscar {
            width: 65%;
            background-color: rgb(60, 60, 60, 0.8)
        }

        @media screen and (max-width: 768px) {
            #buscar {
                margin-top: 30px;
                width: 100%;
                background-color: rgb(60, 60, 60)
            }
        }

        #buscar h1 {
            font-size: 3.5rem;
        }
    </style>
    <div class="container">

        <div class="card mx-auto " style="margin: 12%;" id="buscar">
            <div class="card-body">
                <div class="form-group col-md-12">
                    <h1 class="title-search mt-md-5" align="center">Búsqueda</h1>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <form class="form-inline my-2 my-lg-0" action="{% url 'articulo:buscar' %}" method="get">
                            <input class="form-control mr-sm-2 col-sm-8 col-md-8 mx-4" type="search"
                                   style="color: white"
                                   placeholder="Ingrese el nombre o código del articulo" aria-label="Search"
                                   name="search">
                            <button id="btn-search" class="btn  my-2 my-sm-0  col-sm-auto col-md-3 col-lg-3"
                                    type="submit">Buscar
                            </button>
                        </form>
                    </div>
                    <div class="form-group col-md-3"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 50px; margin-left: -10%; width: 120%; height: 50%; background-color: white; ">
            <h1 class="text-primary mt-4" style="text-align: center; width: 100%" >Estadísticas de Librería CANAAN</h1>
        <div class="col-md-12 mx-auto" style="margin-top: 0; width: 100%; display: flex">
            <div class="card col-md-6">
                <div class="graf">
                    <div id="container" style="border-radius: 10px"></div>
                </div>
                <div class="card-body gris">
                    <p class="pp">Última actualización: {{ fecha|date:"D, d M, Y" }} a las: <span
                            style="color: green">{{ fecha|time:"H:i" }}</span></p>

                <div class="card-footer text-muted" style="background: transparent">
                    <h5 style="text-align: center;">Las Ganancias netas en los últimos 3 meses</h5>
                </div>
                    </div>
            </div>


            <div class="card col-md-6 mx-2">
                <div class="graf">
                    <div id="container2" style="border-radius: 10px"></div>
                </div>
                <div class="card-body gris">
                    <p class="pp">Última actualización: {{ fecha|date:"D, d M, Y" }} a las: <span
                            style="color: green">{{ fecha|time:"H:i" }}</span></p>

                <div class="card-footer text-muted" style="background: transparent">
                    <h5 style="text-align: center;">Las Ganancias netas en los ultimos 3 meses</h5>
                </div>
            </div>
                </div>

        </div>
    </div>
    <div class="col-md-6  mx-auto mt-4">
        <div id="container" style="width:100%; height:400px;"></div>
    </div>


    <script>
        Highcharts.chart('container', {{ charte|safe }});
        Highcharts.chart('container2', {{ charte2|safe }});
    </script>
    <script type="text/javascript">
        $.get('', function (data) {
            var ctx = $("#myChart").get(0).getContext("2d");
            new Chart(ctx, {
                type: 'line', data: data
            });
        });
    </script>
{% endblock %}
