{% extends 'base/admin.html' %}
{% block car %}

{% endblock %}
{% block active3 %}
        activo
    {% endblock %}
{% block body %}
    <!-- Producto sin existencias -->
            <div class="d-flex align-items-center p-3 my-2 text-white-50 bg-warning rounded box-shadow">
                <div class="1h-100">
                    <h6 class="mb-0 text-white 1h-100">Productos Agotados</h6>
                    <small>Sin existencias</small>
                </div>
                <div class="col"></div>
                <a id="aa" class="btn mx-auto" data-toggle="modal" data-target="#exampleModal">+</a>
            </div>
            <div class="my-3 p-3 bg-white rounded box-shadow">
                <h6 class="border-bottom border-gray pb-2 mb-0">Productos sin existencias</h6>
                {% if inventario %}
                    {% for foo in inventario %}
                <div class="media text-muted pt-3 bg-hover">
                    <i class="icono icon-share"></i>
                    <div class="media-body pb-3 mb-0 small 1h-125 border-bottom border-gray">
                        <div class="d-flex justify-content-between align-items-center w-100">
                            <div class="1h-100">
                                <h6 class="larger">{{ foo.nombre_articulo }}</h6>
                                <h6 class="smaller"><small>cod: </small>
                                    {{ foo.codigo_articulo }}
                                </h6>
                            </div>
                            <p>Categoria: <strong>{{ foo.id_categoria }}</strong></p>
                            <p>Precio: <strong>{{ foo.precio_unidad }}</strong></p>
                            <p>Stock: <strong style="color: orangered">{{ foo.stock }}</strong></p>
                            <p>
                                <a title="Eliminar producto" data-toggle="modal" data-target="#elimarProducto"><i class="btn btn-danger2 icon-minus-circle shopping"></i></a>
                                <a title="agregar stock"  data-toggle="modal" data-target="#editar"><i class="btn btn-purple aling-right icon-pencil shopping"></i></a>
                            </p>
                        </div>
                    </div>                   
                </div>
                    {% endfor %}
                {% else %}
                    <h6>No tienes productos sin unidades :D</h6>
                {% endif %}
                
            </div>
            <!--Productos por agotarse -->
            <div class="d-flex align-items-center p-3 my-2 text-white-50 bg-yellow rounded box-shadow">
                <div class="1h-100">
                    <h6 class="mb-0 text-white 1h-100">Productos a punto de acabarse</h6>
                    <small style="color: black">Pocas existencias</small>
                </div>
            </div>
            <div class="my-3 p-3 bg-white rounded box-shadow">
                <h6 class="border-bottom border-gray pb-2 mb-0">menos de 10 unidades</h6>
                {% if inventario1 %}
                    {% for foo in inventario1 %}
                <div class="media text-muted pt-3 bg-hover">
                    <i class="icono icon-share"></i>
                    <div class="media-body pb-3 mb-0 small 1h-125 border-bottom border-gray">
                        <div class="d-flex justify-content-between align-items-center w-100">
                            <div class="1h-100">
                                <h6 class="larger">{{ foo.nombre_articulo }}</h6>
                                <h6 class="smaller"><small>cod: </small>
                                    {{ foo.codigo_articulo }}
                                </h6>
                            </div>
                            <p>Categoria: <strong>{{ foo.id_categoria }}</strong></p>
                            <p>Precio: <strong>{{ foo.precio_unidad }}</strong></p>
                            <p>Stock: <strong style="color: orangered">{{ foo.stock }}</strong></p>
                            <p>
                                <a title="Eliminar producto" data-toggle="modal" data-target="#elimarProducto"><i class="btn btn-danger2 icon-minus-circle shopping"></i></a>
                                <a title="agregar stock"  data-toggle="modal" data-target="#editar"><i class="btn btn-purple aling-right icon-pencil shopping"></i></a>
                            </p>
                        </div>
                    </div>                   
                </div>
                    {% endfor %}
                {% else %}
                    <h6>Actualmente no hay productos con menos de 10 unidades</h6>
                {% endif %}
              
            </div>
            <!-- Producto Activos -->
            <div class="d-flex align-items-center p-3 my-2 text-white-50 bg-purple rounded box-shadow">
                <div class="1h-100">
                    <h6 class="mb-0 text-white 1h-100">Productos</h6>
                    <small>Activos</small>
                </div>
            </div>
            <div class="my-3 p-3 bg-white rounded box-shadow">
                <h6 class="border-bottom border-gray pb-2 mb-0">Productos</h6>
                {% if inventariop %}
                    {% for foo in inventariop %}
                <div class="media text-muted pt-3 bg-hover">
                    <i class="icono icon-share"></i>
                    <div class="media-body pb-3 mb-0 small 1h-125 border-bottom border-gray">
                        <div class="d-flex justify-content-between align-items-center w-100">
                            <div class="1h-100">
                                <h6 class="larger">{{ foo.nombre_articulo }}</h6>
                                <h6 class="smaller"><small>cod: </small>
                                    {{ foo.codigo_articulo }}
                                </h6>
                            </div>
                            <p>Categoria: <strong>{{ foo.id_categoria }}</strong></p>
                            <p>Precio: <strong>{{ foo.precio_unidad }}</strong></p>
                            <p>Stock: <strong>{{ foo.stock }}</strong></p>
                            <p>
                                <a title="Eliminar producto" data-toggle="modal" data-target="#elimarProducto"><i class="btn btn-danger2 icon-minus-circle shopping"></i></a>
                                <a title="agregar stock"  data-toggle="modal" data-target="#editar"><i class="btn btn-purple aling-right icon-pencil shopping"></i></a>
                            </p>
                        </div>
                    </div>                   
                </div>
                    {% endfor %}
                {% else %}
                    <h6>Actualmente no hay productos con más de 10 unidades</h6>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block modal %}
    <!-- Modal -->
    <!-- Agregar producto -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agregar Producto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="Name">Nombre</label>
                                <input type="text" class="form-control" id="Name" placeholder="nombre" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="Codigo">Codigo</label>
                                <input type="text" class="form-control" id="Codigo" placeholder="codigo" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="StockBox">Stock Caja</label>
                                <input type="text" class="form-control" id="StockBox" placeholder="N° Cajas">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="StockUni">Stock Unidades</label>
                                <input type="text" class="form-control" id="StockUni" placeholder="N° Unidades">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="PriceUnid">Precio Unidad</label>
                                <input type="text" class="form-control" id="PriceUnid">
                            </div>
                            <div class="form-group mx-auto col-md-4">
                                <label for="PriceCj">Precio Caja</label>
                                <input id="PriceCj" class="form-control" readonly>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary">Registrar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Editar producto -->
    <div class="modal fade" id="editar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel3">Agregar Producto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="Name">Nombre</label>
                                <input type="text" class="form-control" id="Name" placeholder="nombre" required value="Biblia Reina Valera 1960 6x8">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="Codigo">Codigo</label>
                                <input type="text" class="form-control" id="Codigo" placeholder="codigo" required value="123456789">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="StockBox">Stock Caja</label>
                                <input type="text" class="form-control" id="StockBox" placeholder="N° Cajas" value="0">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="StockUni">Stock Unidades</label>
                                <input type="text" class="form-control" id="StockUni" placeholder="N° Unidades" value="0">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="PriceUnid">Precio Unidad</label>
                                <input type="text" class="form-control" id="PriceUnid" value="10.00">
                            </div>
                            <div class="form-group mx-auto col-md-4">
                                <label for="PriceCj">Precio Caja</label>
                                <input id="PriceCj" class="form-control" readonly value="100">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary">Registrar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Eliminar producto -->
    <div class="modal fade" id="elimarProducto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1">Agregar Producto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="#" method="post">
                        <h6>Quieres deshabilitar el regitstro Biblia reina Valera 1960?</h6>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-outline-danger active mx-4">Deshabilitar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}