body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: rgb(255, 255, 255);
}
.icono i{
    font-size: 1.5rem;
}

.table td {
    font-family: 'Roboto', sans-serif;
}

.bg-purple2 {
    background-color: rgb(83, 109, 122);

}

.bg-green {
    background-color: rgb(250 250 250);
    color: rgb(30 30 30);
}

.bg-gray {
    background-color: rgb(0, 0, 0, 0.1);
}

.bg-yellow {
    background-color: darkorange;
}
.btn-vender{
    width: 100%;
    background-color: rgb(83, 200, 122);
}
.btn-vender:hover{
    background-color: rgb(83, 170, 122);
}
.title-search {
    font-family: 'Pacifico', cursive;
    font-size: 5em;
    color: rgb(255, 255, 255);
}

#btn-search {
    background-color: rgb(35, 85, 85);
    color: white;
}

#btn-search:hover {
    background-color: rgb(35, 85, 85);
    color: white;
}

#formAdd label {
    color: rgb(200, 200, 200);
}

.espacio {
    position: relative;
    padding: 1rem;
    margin: 1rem -15px;
    border: solid #f7f7f9;
    border-width: .2rem 0 0;
}

.bg-blue {
    background-color: rgb(33, 150, 243);
    color: white;
}

.car {
    position: fixed;
    bottom: 0;
    margin-left: 92%;
    font-size: 50px;

}

@media screen and (max-width: 1200px) {
    .car {
        bottom: 0;
        margin-left: 0;
    }
}

#car2 {
    font-size: 50px;
    color: orange;
}

@media screen and (max-width: 1200px) {
    #car2 {
        color: rgb(0, 0, 0, 0.9);
    }
}

#aa {
    font-size: 18px;
    border-radius: 50%;
    background-color: white;
    color: purple;
}

#aa:hover {
    text-decoration: none;
    color: white;
    background-color: rgb(0, 0, 0, 0.4);
}

nav #search-lg {
    width: 350px;
}

@media screen and (max-width: 1200px) {
    nav #search-lg {
        width: 350px;
    }
}

@media screen and (max-width: 768px) {
    nav #search-lg {
        width: auto;
    }
}

#nav22 {
    background: rgb(6, 6, 6, 0.2);
}

#nav22 a {
    color: white;
}

#nav22 a:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(45, 45, 45);
}

.act {
    border: none;
    color: white;
    border-bottom: 4px solid white;
    margin: 0;
    padding-bottom: 15px;
    z-index: 5000;
}

#navbarSupportedContent {
    margin: 0;
    padding: 0;
}

#navbar {
    height: 65px;
    width: 110%;
}
@media screen and (max-width: 768px) {
    nav #navbar {
        height: auto;
    }
}
#navbarSupportedContent ul li a {
    font-size: 0.9rem;
}
#navbarSupportedContent ul{
    margin-top: 15px;
}
@media screen and (max-width: 768px) {
    nav #navbarSupportedContent ul li{
        margin: 0 40px;
    }
}
.activo {
    border: none;
    color: white;
    border-bottom: 4px solid darkslategrey;
    margin: 0;
    padding-bottom: 17.5px;

}

.activo a {
    color: darkslategrey;
}

.nav-link2 {
    margin: 20px 0;
    padding: 23px;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    color: rgb(70, 70, 70);
    text-decoration: none;
    transition: all 0.4s;
}

.nav-link2:hover {
    width: auto;
    text-decoration: none;
    border: none;
    color: darkslategrey;
    background-color: rgb(240, 240, 240);
    transition: all 0.4s;
}
@media screen and (max-width: 768px) {
    nav .nav-link2 {
        display: block;
        padding: 0;
    }
}
#user {
    position: absolute;
    margin-top: -57px;
    margin-left: 93%;
    z-index: 80000;

}
@media screen and (max-width: 768px) {
    #user {
    position: absolute;
    margin-top: -57px;
    margin-left: 52%;
    z-index: 80000;

}
}

.container .bg-purple {
    width: 100%;
    background-color: var(--purple);
}

.bg2-purple {
    width: 100%;
    background-color: var(--purple);
}

.btn-purple {
    color: rgb(156, 39, 176);
}

.btn-purple:hover {
    color: #ffff;
    background-color: rgb(156, 39, 176);

}

.btn-primary2 {
    color: rgb(62, 172, 190);
}

.btn-primary2:hover {
    background-color: rgb(62, 172, 190);
    color: white;
}

.btn-danger2 {
    color: orangered;
}

.btn-danger2:hover {
    background-color: orangered;
    color: white;
}

.bg-hover:hover {
    cursor: pointer;
    background-color: rgb(235, 235, 235);
    border-radius: .525rem;
}

.icono {
    width: 20px;
    height: 20px;
    font-size: 10px;
    margin-top: 15px
}

.shopping {
    font-size: 20px
}

.aling-right {
    margin-right: 7px;
}

.larger {
    color: purple;
}

.smaller {
    color: rgb(150, 80, 150, 0.8);
}
.text-gray-400 {
  color: #d1d3e2 !important;
}
.car-header2 {
    margin-top: 10px;
    margin-right: 10px;
}
#navbar #content-wrapper {
  background-color: #f8f9fc;
  width: 100%;
  overflow-x: hidden;
}

.dropdown-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid #eaecf4;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #3a3b45;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.dropdown-item i {
    margin: -10px 0;
}
.dropdown-item:first-child {
  border-top-left-radius: calc(0.35rem - 1px);
  border-top-right-radius: calc(0.35rem - 1px);
}

.dropdown-item:last-child {
  border-bottom-right-radius: calc(0.35rem - 1px);
  border-bottom-left-radius: calc(0.35rem - 1px);
}

.dropdown-item:hover, .dropdown-item:focus {
  color: #2e2f37;
  text-decoration: none;
  background-color: #f8f9fc;
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #4e73df;
}
#ulNav .dropdown-item:hover {

  background-color: rgb(83, 109, 122, .2);
}

.dropdown-item.disabled, .dropdown-item:disabled {
  color: #858796;
  pointer-events: none;
  background-color: transparent;
}
.dropdown-menu.show {
  display: block;
}

.dropdown {
    position: static;
}

.dropdown .dropdown-menu {
    width: 100%;
    margin: 0;
    padding: 0;
}

.dropdown-list {
    padding: -20px;
    border: none;
    overflow: hidden;
}

.dropdown-menu .dropdown-header {
    background-color: rgb(83, 170, 122);
    border: 1px solid rgb(83, 170, 122);
    margin-top: -0.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    color: #fff;
}

.dropdown-list .dropdown-item {
    white-space: normal;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-left: 1px solid #e3e6f0;
    border-right: 1px solid #e3e6f0;
    border-bottom: 1px solid #e3e6f0;
    line-height: 1.3rem;
}

.dropdown-list .dropdown-item .dropdown-list-image {
    position: relative;
    height: 2.5rem;
    width: 2.5rem;
}

.dropdown-list .dropdown-item .dropdown-list-image img {
    height: 2.5rem;
    width: 2.5rem;
}

.dropdown-list .dropdown-item .dropdown-list-image .status-indicator {
    background-color: #eaecf4;
    height: 0.75rem;
    width: 0.75rem;
    border-radius: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    border: 0.125rem solid #fff;
}

.dropdown-list .dropdown-item .text-truncate {
    max-width: 10rem;
}

.dropdown-list .dropdown-item:active {
    background-color: #eaecf4;
    color: #3a3b45;
}

@media (min-width: 576px) {
    .dropdown {
        position: relative;
    }

    .dropdown .dropdown-menu {
        width: auto;
        right: 0;
    }

    .dropdown-list {
        width: 20rem !important;
    }

    .dropdown-list .dropdown-item .text-truncate {
        max-width: 13.375rem;
    }
}

.navbar-light .navbar-nav .nav-item .nav-link {
    color: #d1d3e2;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover {
    color: #b7b9cc;
}

.navbar-light .navbar-nav .nav-item .nav-link:active {
    color: #858796;
}
.dropdown-toggle-split {
  padding-right: 0.5625rem;
  padding-left: 0.5625rem;
}

.dropdown-toggle-split::after,
.dropup .dropdown-toggle-split::after,
.dropright .dropdown-toggle-split::after {
  margin-left: 0;
}

.dropleft .dropdown-toggle-split::before {
  margin-right: 0;
}