body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: rgb(235, 235, 235);
}

.bg-green {
    background-color: #5d4037;
    color: white;
}

.bg-gray {
    background-color: rgb(0, 0, 0, 0.1);
}

.bg-yellow {
    background-color: darkorange;
    color: white;
}

.title-search{
    font-family: 'Pacifico', cursive;
    font-size: 5em;
    color: rgb(28, 161, 28);
}

#btn-search{
    background-color: rgb(0, 150, 0, 0.8);
    color: white;
}
#btn-search:hover{
    background-color: rgb(0, 150, 0 );
    color: white;
}

.espacio {
    position: relative;
    padding: 1rem;
    margin: 1rem -15px;
    border: solid #f7f7f9;
    border-width: .2rem 0 0;
}

.bg-blue {
    background-color: rgb(33, 150, 243);
    color: white;
}

.car {
    position: fixed;
    bottom: 0;
    margin-left: 92%;
    font-size: 50px;

}

@media screen and (max-width: 1200px) {
    .car {
        bottom: 0;
        margin-left: 0;
    }
}

#car2 {
    font-size: 50px;
    color: orange;
}

@media screen and (max-width: 1200px) {
    #car2 {
        color: rgb(0, 0, 0, 0.9);
    }
}

#aa {
    font-size: 18px;
    border-radius: 50%;
    background-color: white;
    color: purple;
}

#aa:hover {
    text-decoration: none;
    color: white;
    background-color: rgb(0, 0, 0, 0.4);
}

nav #search-lg {
    width: 350px;
}

@media screen and (max-width: 1200px) {
    nav #search-lg {
        width: 350px;
    }
}

@media screen and (max-width: 768px) {
    nav #search-lg {
        width: auto;
    }
}

#navbarSupportedContent ul li a {
    font-weight: bolder;
}

.activo {
    border: none;
    color: white;
    border-bottom: 2.3px solid white;
    margin: 0;
    padding-bottom: 10px;
    z-index: 5000;
}

.activo a {
    color: white;
}

.nav-link2 {
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(255,255,255, 0.7);
    text-decoration: none;
}

.nav-link2:hover {
    text-decoration: none;
    border: none;
    color: white;
    padding: 20px;
    width: auto;

}

.container .bg-purple {
    width: 100%;
    background-color: var(--purple);
}

.bg2-purple {
    width: 100%;
    background-color: var(--purple);
}

.btn-purple {
    color: rgb(156, 39, 176);
}

.btn-purple:hover {
    color: #ffff;
    background-color: rgb(156, 39, 176);

}

.btn-primary2 {
    color: rgb(62, 172, 190);
}

.btn-primary2:hover {
    background-color: rgb(62, 172, 190);
    color: white;
}

.btn-danger2 {
    color: orangered;
}

.btn-danger2:hover {
    background-color: orangered;
    color: white;
}

.bg-hover:hover {
    cursor: pointer;
    background-color: rgb(235, 235, 235);
}

.icono {
    width: 20px;
    height: 20px;
    font-size: 10px;
    margin-top: 15px
}

.shopping {
    font-size: 20px
}

.aling-right {
    margin-right: 7px;
}

.larger {
    color: purple;
}

.smaller {
    color: rgb(150, 80, 150, 0.8);
}

.car-header2 {
    margin-top: 10px;
    margin-right: 10px;
}
