<!-- Modal -->
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel2">Agregar Producto</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

            <form id="addCar" action="{% url 'ventas:addCar' pk %}">
                {% csrf_token %}
                <div class="form-row">
                    <label for="Cantidad">Cantidad</label>
                    <input id="Cantidad" class="form-control mx-auto"  name="cantidad" type="number">
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="submit" form="addCar" class="btn btn-primary">Agregar</button>
        </div>
    </div>
</div>
