<!-- Modal -->
<style>
    #plus-shopping {
        margin-top: -20px;
        font-size: 18px;
        border-radius: 50%;
        background-color: rgb(33, 150, 243, 0.7);
        color: white;
    }

    #plus-shopping:hover {
        text-decoration: none;
        color: white;
        background-color: rgb(33, 150, 243);
    }
</style>
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel2">Carrito de Compras</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body mx-auto">
            <!--form action="">
                <div class="form-row">
                    <div class="form-group col-md-6"></div>
                    <div class="form-group col-md-5">
                        <label for="IdCodigo">Codigo</label>
                        <input type="text" id="IdCodigo" placeholder="Ingrese el codigo del producto" class="form-control">
                    </div>
                    <div class="form-group col-md-1">
                        <a id="plus-shopping" class="btn mt-3"
                           onclick="return abrir_modal('{% url 'articulo:crearArticulo' %}')"
                           title="agregar producto">+</a>
                    </div>
                </div>
            </form-->
            <div>
                <h4 align="center">Total: <strong>{{ total }}</strong></h4>
            </div>
            <a id="plus-shopping" style="margin-top: -55px" class="btn float-right"
               href="{% url 'ventas:shop' %}"
               title="agregar producto">+</a>
            <div class="table-responsive">
                <table class="table">
                    <thead class="bg-gray">
                    <tr>
                        <th scope="col">N°</th>
                        <th scope="col">Codigo</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Presentacion</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Precio Venta</th>
                        <th scope="col">Sub-Total</th>
                        <th scope="col">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if query %}
                        {% for foo in query %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ foo.id_articulo.codigo_articulo }}</td>
                                <td>{{ foo.id_articulo.nombre_articulo }}</td>
                                <td>
                                    <select name="id_presentacion" style="width: 70px" required="" class="form-control"
                                            id="id_id_presentacion">
                                        {% if foo.id_articulo.id_presentacion.pk == 1 %}
                                            <option value="">--------------</option>
                                            <option value="1" selected="">Unidades</option>
                                            <option value="2">Cajas</option>
                                        {% else %}
                                            <option value="">--------------</option>
                                            <option value="1">Unidades</option>
                                            <option value="2" selected="">Cajas</option>
                                        {% endif %}
                                    </select>
                                </td>
                                <td><input type="text" class="form-control" style="width: 30px"
                                           value="{{ foo.cantidad }}"></td>
                                <td>${{ foo.id_articulo.precio_unidad }}</td>
                                <td>None</td>
                                <td>
                                    <a href="{% url 'ventas:deleteDetail' foo.pk %} " class=""><i
                                            class="icon-minus-circle btn btn-danger2"></i></a>
                                </td>
                            </tr>

                        {% endfor %}
                        </tbody>
                    {% endif %}
                </table>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <a class="rounded btn btn-info active text-white" data-toggle="modal" data-target="#exampleModal">vender</a>
        </div>
    </div>
</div>


<!-- Modal Vuelto -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Efectivo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="vender" action="{% url 'ventas:vender' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row col-md-12">
                        <label for="Cambio">Ingrese monto con el que pagara</label>
                        <input type="text" id="Cambio" name="cambio" class="form-control" placeholder="0.00"
                               style="color: black" required>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button target="_blank" form="vender" onclick="redireccionar()" type="submit"
                        class="btn btn-success active">Vender
                </button>
            </div>
        </div>
    </div>
</div>