{% extends 'base/admin.html' %}
{% block car %}

{% endblock %}
{% block active4 %}
        activo
    {% endblock %}
{% block body %}
    <!-- Ventas Realizadas -->
            <div class="d-flex align-items-center p-3 my-2 text-white-50 bg-warning rounded box-shadow">
                <div class="1h-100">
                    <h6 class="mb-0 text-white 1h-100">Ventas Realizadas</h6>
                    <small>Detalle de las ventas</small>
                </div>
                <div class="col"></div>
                <a id="aa" class="btn mx-auto" data-toggle="modal" data-target="#exampleModal">+</a>
            </div>
            <div class="my-3 p-3 bg-white rounded box-shadow">
                <h4 class="border-bottom border-gray pb-2 mb-0">Ventas realizadas</h4>
                <p class="border-bottom border-gray pb-2 mb-0">El estado 0 significa que la venta finalizó y está cancelada.</p>
            <table class="table table-sm">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Fecha</th>
                    <th scope="col">Estado</th>
                      <th scope="col">Acciones</th>
                </tr>
                </thead>
            <tbody>
                  {% if datosVenta %}
                    {% for foo in datosVenta %}
                        <tr>

                        <td scope="row">{{ foo.fecha }}</td>

                        <td>{{ foo.venta.estado}}</td>

                        <td>
                            <a title="Eliminar venta" href="#" class=""><i class="icon-minus-circle btn btn-danger2"></i></a>
                            <a onclick="return abrir_modal('{% url 'ventas:detalleVenta' foo.pk %}')" title="Detalles de las ventas" class=""><i
                                        class="btn btn-primary2 aling-right icon-eye shopping "><span
                                        style="font-size: 20px"></span></i></a>
                        </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <h6>No hay ventas disponibles</h6>
                {% endif %}
              </tbody>
            </table>


            </div>


{% endblock %}
