{% extends 'base/admin.html' %}
{% block active3 %}
    activo
{% endblock %}
{% block car %}
{% endblock %}
{% block body %}
    <style>
        #plus-shopping {
            margin-top: -20px;
            font-size: 18px;
            border-radius: 50%;
            background-color: rgb(33, 150, 243, 0.7);
            color: white;
        }

        #plus-shopping:hover {
            text-decoration: none;
            color: white;
            background-color: rgb(33, 150, 243);
        }

        .form-control {
            color: white;
        }

        .form-control::-ms-expand {
            background-color: transparent;
            border: 0
        }

        .custom-file-control:focus, .form-control:focus {
            color: white;
            background-color: transparent;
            border-color: white;
            outline: 0;
            box-shadow: none, 0 0 0 .2rem rgba(255, 255, 255, 255)
        }

        .custom-file-control::placeholder, .form-control::placeholder {
            color: rgb(170, 170, 170);
            opacity: 1
        }

        .custom-file-control:disabled, .form-control:disabled, .form-control[readonly], [readonly].custom-file-control {
            background-color: #e9ecef;
            opacity: 1
        }

        select.custom-file-control:focus::-ms-value, select.form-control:focus::-ms-value {
            color: white;
            background-color: transparent
        }

        option {
            background: rgb(100,100,100);
        }
    </style>
    <div class="container">
        <div class="row bg-hover mt-4"
             style="background-color: rgb(83, 109, 122); border-radius:.525rem; color: white;">
            <div class="col-md-12 mt-2">
                <h3 class="card-title" style="font-weight: 500">Vender Productos</h3>
                <h5 class="card-subtitle " style="color: rgb(200,200,200)">Formulario</h5>
            </div>
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags  == 'warning' %}
                        <input id="msj" type="hidden" value="1">
                        <input id="contenido" type="hidden" value="{{ message }}">
                    {% endif %}
                    {% if message.tags == 'success' %}
                        <input id="msj" type="hidden" value="0">
                        <input id="contenido" type="hidden" value="{{ message }}">
                    {% endif %}
                {% endfor %}
            {% endif %}
            <div class="col-md-2">
                <h4 class="rounded" style="margin-top: 30%;color: white; background-color: rgb(240,240,240,0.4); height: 45px; padding: 7px 1px">Total: <span style="color: black">${{ total }}</span></h4>
                <button type="submit" class="rounded btn btn-dark active" style="width: 100%">vender</button>
            </div>
            <div class="col-md-10">
                <div class="card-body">

                    <div class="card-body" style="margin-top: -50px">
                        <form action="{% url 'ventas:venta' %}" id="formAdd">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="id_cantidad">Presentacion</label>
                                    <select name="id_presentacion" required="" class="form-control"
                                            id="id_id_presentacion">
                                        <option value="">----Seleccione una opcion----</option>
                                        <option value="1" selected="">Unidades</option>
                                        <option value="2">Cajas</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="id_cantidad">Cantidad</label>
                                    <input placeholder="Cantidad" type="text" id="id_cantidad" name="cantidad"
                                           class="form-control">
                                </div>

                                <div class="form-group col-md-11">
                                    <label for="id_codigo_articulo">Codigo</label>
                                    <input placeholder="Codigo" type="text" id="id_codigo_articulo" name="codigo"
                                           required
                                           class="form-control">
                                </div>
                                <div class="form-group col-md-1">
                                    <button id="plus-shopping" class="btn mt-4" type="submit" title="agregar producto">
                                        +
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
        <div class="responsive mt-4">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">N°</th>
                    <th scope="col">Codigo</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Presentacion</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Precio Venta</th>
                    <th scope="col">Sub-Total</th>
                    <th scope="col">Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% if query %}
                    {% for foo in query %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ foo.id_articulo.codigo_articulo }}</td>
                            <td>{{ foo.id_articulo.nombre_articulo }}</td>
                            <td>{{ foo.id_articulo.id_presentacion }}</td>
                            <td>{{ foo.cantidad }}</td>
                            <td>${{ foo.id_articulo.precio_unidad }}</td>
                            <td>${{ foo.sub_total }}</td>
                            <td>
                                <a onclick="return abrir_modal('{% url 'ventas:deleteDetail' foo.pk %}')" class=""><i
                                        class="icon-minus-circle btn btn-danger2" title="Eliminar"></i></a>
                                <a onclick="return editarShop({{ foo.id_articulo.id_presentacion }}, {{ foo.cantidad }},{{ foo.id_articulo.codigo_articulo }});"
                                   class=""><i class="icon-pencil-square-o btn btn-purple" title="Editar"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
